@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    min-width: 290px;
    background-color: #ffffff;
}

#navbar {
    position: fixed;
    min-width: 290px;
    width: 300px;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 22, 22, 0.4);
}

h2 {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 22, 22, 0.4);
}

#navbar ul {
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

#navbar ul li {
    text-align: left;
    padding-left: 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}

.item {
    border-bottom: 1px solid rgba(0, 22, 22, 0.4);
    text-align: center;
    padding: 15px 25px;
    margin: 0 0 20px;
    line-height: 1.5;
    transition: width 1s ease;
}

.item:hover {
    transform: translateX(1.1px);
}

#main-doc {
    position: absolute;
    left: 300px;
}

#main-doc header {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    margin: 0 1px 12px;
    padding: 10px;
}

section article {
    color: #4d4e53;
    margin: 1px 25px;
    font-size: 0.96em;
    font-weight: 600;
}

section li {
    margin: 15px 0px 0px 20px;
}

section article p {
    margin-bottom: 10px;
}

code {
    display: block;
    text-align: left;
    font-weight: 5;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}