@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    min-width: 290px;
    background-color: #ffffff;
}

#navbar {
    position: fixed;
    min-width: 290px;
    left: 0px;
    top: 0px;
}