@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    min-width: 290px;
    background-color: #ffffff;
}

#navbar {
    position: fixed;
    min-width: 290px;
    width: 300px;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 22, 22, 0.4);
}

header {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 22, 22, 0.4);
}

#navbar ul {
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

#navbar ul li {
    text-align: left;
    padding-left: 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}

.item {
    border-bottom: 1px solid rgba(0, 22, 22, 0.4);
    padding: 5px;
    margin: 0 0 20px;
}